html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.test {
  background-color: rebeccapurple;
}
.node_1 {
  position: relative;
  z-index: 1;
  left: 25%;
  top: -35%;
}
.node_1 button {
  background-color: #00b0f0;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  line-height: 35px;
  box-shadow: #00000038 5px 3px 3px;
  border-radius: 5px;
}
.node_1 button:hover {
  cursor: pointer;
  background-color: #ed7d31;
}
.node_2 {
  position: relative;
  z-index: 1;
  left: 65%;
  top: -50%;
}
.node_2 button {
  background-color: #00b0f0;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  line-height: 35px;
  box-shadow: #00000038 5px 3px 3px;
  border-radius: 5px;
}
.node_2 button:hover {
  cursor: pointer;
  background-color: #ed7d31;
}
.node_3 {
  position: relative;
  z-index: 1;
  left: 75%;
  top: -80%;
}
.node_3 button {
  background-color: #00b0f0;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  line-height: 35px;
  box-shadow: #00000038 5px 3px 3px;
  border-radius: 5px;
}
.node_3 button:hover {
  cursor: pointer;
  background-color: #ed7d31;
}
.node_4 {
  position: relative;
  z-index: 1;
}
.node_4 button {
  background-color: #00b0f0;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  line-height: 35px;
  box-shadow: #00000038 5px 3px 3px;
  border-radius: 5px;
}
.node_4 button:hover {
  cursor: pointer;
  background-color: #ed7d31;
}
