$col_orange: #fb4f14;

/*Layout*/
.container {
  user-select: none;
  display: grid;
  grid-template-columns: 170px auto;
  grid-template-rows: 65px auto 40px;
  grid-template-areas:
    "sidebar nav"
    "sidebar content"
    "sidebar footer";
  background-color: #e9ebee;
}
.sidebar {
  display: grid;
  grid-template-areas: "icon" "navmenu";
  grid-template-rows: 65px auto;
  grid-area: sidebar;
  background-color: #fff;
  font-size: 22px;
  font-weight: 400;
  box-shadow: 0 0 8px #ccc;
}
.sidebar button {
  font-size: 22px;
  font-weight: 400;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
.sidebar button:hover {
  cursor: pointer;
}
.nav {
  display: grid;
  grid-template-areas: "space user";
  grid-area: nav;
  background-color: #03256c;
  grid-template-columns: auto 200px;
  border: solid 1px black;
}
.content {
  grid-area: content;
  background-color: #e9ebee;
  min-height: calc(100vh - 100px);
  padding-left: 100px;
  padding-top: 20px;
}
.footer {
  grid-area: footer;
  background-color: #03256c;
  border: solid 1px black;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.user {
  grid-area: user;
  background-color: #03256c;
  border: solid 1px black;
}
.side_icon {
  grid-area: icon;
  background-color: #fff;
  box-shadow: 0 0 8px #555;
  text-align: center;
}
.sidenav {
  grid-area: navmenu;
  background-color: #fff;
  //border-right: black solid 1px;
  box-shadow: 2px 0px 0px #55555514;
  z-index: 1;
  font-size: 18px;
}
.menu_item {
  padding: 10px;
}
.menu_item label {
  margin-left: 5px;
}
.menu_item label:hover {
  cursor: pointer;
}
.menu_item:hover {
  cursor: pointer;
  color: $col_orange;
}
.menu_item_active {
  border-left: $col_orange solid 4px;
}

/* Dropdown system*/
.dpdwn_container {
  display: none;
} /*master had recent pushes 4 minutes ago*/

.dropdown_item_1rem {
  text-indent: 1rem;
  padding: 10px;
}
.dropdown_item_1rem label {
  margin-left: 5px;
}
.dropdown_item_1rem label:hover {
  color: $col_orange;
  cursor: pointer;
}
.dropdown_item_1rem:hover {
  cursor: pointer;
  color: $col_orange;
}
/**/
.dropdown_item_2rem {
  text-indent: 2rem;
  padding: 5px;
}
.dropdown_item_2rem label {
  margin-left: 5px;
}
.dropdown_item_2rem label:hover {
  color: $col_orange;
  cursor: pointer;
}
.dropdown_item_2rem:hover {
  cursor: pointer;
  color: $col_orange;
}
.sidebtn {
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-areas: "svg text";
}
.sidebtn_svg {
  grid-area: svg;
}
.sidebtn_text {
  grid-area: text;
}
