.body {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title title"
    "status status"
    "sensor sensor"
    "relay relay";
  width: 1200px;
}
.dpNone {
  display: none;
}
.title {
  grid-area: title;
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-areas: "icon text";
  background-color: white;
  padding: 10px;
  box-shadow: #00000038 5px 3px 3px;
}
.title_icon {
  grid-area: icon;
}
.title_text {
  text-indent: 5px;
  grid-area: text;
  font-size: 20px;
}
.title_text label.titlehead {
  font-weight: 600;
}
.title_text label.date {
  font-weight: 600;
  color: gray;
  float: right;
}
.status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: status;
  grid-gap: 10px;
}
.update {
  grid-area: update;
}
.sensor {
  display: grid;
  grid-area: sensor;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.relay {
  display: grid;
  grid-area: relay;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.box {
  background-color: white;
  padding-left: 10px;
  box-shadow: #00000038 5px 3px 3px;
  line-height: 15px;
  padding: 10px;
  max-height: 600px;
  line-height: 10px;
  font-weight: 500;
}
.box_flex {
  display: flex;
  background-color: white;
  padding-left: 10px;
  box-shadow: #00000038 5px 3px 3px;
  padding: 10px;
  max-height: 600px;
  font-weight: 500;
  align-items: center;

  label {
    margin-left: 10px;
  }
  label.online {
    color: green;
  }
  label.offline {
    color: red;
  }
  label.right {
    margin-left: auto;
  }
}
.box p.highlight {
  color: #fb4f14;
}
.box label.title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.box label.create_date {
  color: #969696;
  font-weight: 500;
  float: right;
  margin-right: 10px;
}
.box label.status {
  font-weight: 500;
  float: right;
  margin-right: 10px;
}
.box label.head {
  line-height: 40px;
  font-size: 24px;
  align-items: center;
}
.sensor_box {
  display: grid;
  background-color: white;
  padding-left: 10px;
  box-shadow: #00000038 5px 3px 3px;
  line-height: 15px;
  padding: 10px;
  max-height: 600px;
  grid-template-columns: 30px auto;
  grid-gap: 5px;
}
.sensor_box label {
  margin-left: 10px;
  line-height: 25px;
}
//-----------------check-box-toggle--------------------//
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  top: -5px;
  margin-bottom: -5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(15px);
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
}

//----------------End-check-box-toggle--------------------//
