.body {
  display: grid;
  grid-template-areas: "title" "body" "menu";
  width: 1200px;
  grid-gap: 20px;
  margin-bottom: 20px;
}
.detail {
  grid-area: body;
  background-color: white;
  box-shadow: #00000038 5px 3px 3px;
  font-size: 16px;
  padding: 5px 10px;
}

.title {
  grid-area: title;
  display: grid;
  grid-template-areas: "logo name";
  grid-template-columns: 80px auto;
  grid-gap: 20px;
}
.title_logo {
  background-color: white;
  width: 80px;
  height: 80px;
  box-shadow: #00000038 5px 3px 3px;
  border-radius: 50%;
}
.Head_logo_image {
  border-radius: 50%;
}
.title_name {
  background-color: white;
  box-shadow: #00000038 5px 3px 3px;
  font-size: 28px;
  padding: 21px 10px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-area: menu;
  font-size: 16px;
  grid-gap: 10px;
}

.card {
  display: grid;
  grid-template-areas: "pic" "detail" "btn";
  background-color: #00bcdf;
  width: 260px;
  height: 280px;
  border-radius: 50px;
  box-shadow: #00000038 5px 3px 3px;
  padding: 20px;
  text-align: center;
}
.menu_pic {
  position: relative;
  left: 33%;
  grid-area: pic;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.menu_pic_image {
  border-radius: 50%;
}
.menu_detail {
  grid-area: detail;
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 10px;
}
.menu_detail p.head {
  font-size: 32px;
  font-weight: 600;
}
.menu_btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.menu_btn button {
  color: white;
  background-color: #fb4f14;
  box-shadow: #00000038 5px 3px 3px;
  border: none;
  outline: none;
  font-size: 20px;
}
.menu_btn button:hover {
  cursor: pointer;
  background-color: #f87144;
}
.add_card {
  background-color: #00bcdf;
  width: 260px;
  height: 280px;
  border-radius: 50px;
  box-shadow: #00000038 5px 3px 3px;
  color: white;
  padding: 20px;
  text-align: center;
}
.add_card p.head {
  position: relative;
  top: 20px;
  font-size: 32px;
  font-weight: 600;
}
.add_btn {
  position: relative;
  top: 40px;
  left: 50px;
  background-color: #fb4f14;
  text-align: center;
  box-shadow: #00000038 5px 3px 3px;
  border-radius: 50%;
  font-size: 80px;
  width: 120px;
  height: 120px;
  padding: 10px;
}
.add_btn:hover {
  cursor: pointer;
  background-color: #f87144;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_content {
  position: relative;
  margin: auto;
  height: auto;
  background-color: #00bcdf;
  width: 300px;
  height: auto;
  padding-bottom: 20px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
}
.modal_content p.pic_change:hover {
  cursor: pointer;
  color: #fd916d;
  font-weight: 600;
}
.modal_head {
  line-height: 80px;
  font-size: 28px;
  font-weight: 600;
}
.modal_form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
  padding: 20px;
  font-size: 20px;
}
.modal_content input.hiden {
  display: none;
  padding: 0;
}
.modal_form input {
  height: 30px;
  outline: none;
  border: none;
  width: 160px;
  padding-left: 10px;
}
.modal_form select {
  height: 30px;
  outline: none;
  border: none;
  width: 160px;
  padding-left: 10px;
}
.modal_btn {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.modal_btn button {
  border: none;
  color: white;
  background-color: #fb4f14;
  width: 125px;
  height: 30px;
  box-shadow: #00000038 5px 3px 3px;
}
.modal_btn button:hover {
  cursor: pointer;
  background-color: #f87144;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  position: relative;
  background-color: #fb4f14;
  border-radius: 50%;
  color: white;
  float: right;
  font-size: 26px;
  line-height: 24px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  text-align: center;
}

.close:hover,
.close:focus {
  background-color: #f87144;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
